.meter {
    overflow-x: scroll;

    .btn-group {
	min-width: 650px;
    }
    
    .btn-group button {
	border: 2px solid var(--cream);
	padding: 5px 5px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	width: 7.6923076923%; /* set the width for 13 buttons */
    }
    
    .btn-group button:hover {
	/* do something? */
    }  

    .btn-group .homey-type {
	text-transform: capitalize;
    }

    .homey-data {
	font-family: monospace;
	font-size: 60%;
	font-weight: bold;
    }
    
    .btn-group .homey {
	background-color: var(--homey);
	color: var(--brown);
    }
    
    .btn-group .rainy {
	background-color: var(--rainy);
	color: var(--brown);
    }

    .btn-group .sunny {
	background-color: var(--sunny);
	color: var(--brown);
    }

    .btn-group .windy {
	background-color: var(--windy);
	color: var(--brown);
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
	content: "";
	clear: both;
	display: table;
    }
    
    .switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
    }
    
    .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
    }
    
    .slider {
	border: 2px solid var(--brown);
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
    }
    
    .slider:before {
	position: absolute;
	content: "";
	height: 11px;
	width: 11px;
	left: 1px;
	bottom: 1px;
	background-color: var(--brown);
	-webkit-transition: .4s;
	transition: .4s;
    }
    
    input:checked + .slider {
	background-color: var(--brown);
    }

    input:focus + .slider {
	box-shadow: 0 0 1px var(--brown);
    }

    input:checked + .slider:before {
	-webkit-transform: translateX(12px);
	-ms-transform: translateX(12px);
	transform: translateX(12px);
    }

    .homey input:checked + .slider:before {
	background-color: var(--homey);
    }

    .rainy input:checked + .slider:before {
	background-color: var(--rainy);
    }

    .sunny input:checked + .slider:before {
	background-color: var(--sunny);
    }

    .windy input:checked + .slider:before {
	background-color: var(--windy);
    }

    /* Rounded sliders */
    .slider.round {
	border-radius: 34px;
    }

    .slider.round:before {
	border-radius: 50%;
    }
}
