/* Color Scheme */

:root {
  --cream: #F3DDAB;
  --brand-color: var(--cream);
  --white: #fff;
  --brown: #664433;
  --light-brown: #7F5540;
  --really-light-brown: #99664D;
  --light-gray: #f0f0f0;
  --light-blue: #f8f6fb;
  --blue-gray: #716f8f;
  --gray: #9e9e9e;
  --dark: #0c101a;
  --dark-blue: #1e2740;
  --light-cream: #FFF1D1;
  --windy: #FF5500;
  --dark-windy: #BF4000;
  --rainy: #ABDAF3;
  --sunny: #F3A904;
  --homey: var(--cream);

  --background-color: var(--brown);
  --background-alt-color: var(--light-brown);
  
  --text-color: var(--white);
  --text-alt-color: var(--cream);
  
  --heading-font-color: var(--white);

  --link-color: var(--white);
  --link-color-hover: var(--white);

  --button-color: var(--brown);
  --button-background-color: var(--windy);
  --button-background-hover: var(--windy);

  --border-color: var(--light-brown);
  --border-color-alt: var(--light-brown);

  --th-color: var(--cream);
  --th-font-color: var(--brown);
  --tr-color: var(--light-brown);

  --syntax-highlighting-background: var(--light-brown);
}

:root[dark] {
  --brand-color: #F3DDAB;
  --white: #fff;
  --brown: #664433;
  --light-brown: #7F5540;
  --light-gray: #f0f0f0;
  --light-blue: #f8f6fb;
  --blue-gray: #716f8f;
  --gray: #9e9e9e;
  --dark: #0c101a;
  --dark-blue: #1e2740;
  --cream: #F3DDAB;
  --windy: #FF5500;
  --dark-windy: #BF4000;

  --background-color: var(--dark);
  --background-alt-color: #18181d;
  
  --text-color: var(--white);
  --text-alt-color: var(--cream);
  
  --heading-font-color: var(--white);

  --link-color: var(--white);
  --link-color-hover: var(--white);

  --button-color: var(--brown);
  --button-background-color: var(--brown);
  --button-background-hover: var(--cream);

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: var(--cream);
  --tr-color: #080b12;

  --syntax-highlighting-background: #080b12;
}
