---
layout: default
---
<div class="meter">
  
  <p>Thirteen buttons in a group:</p>
  <div class="btn-group" style="width:100%">
    <button class="homey">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Homey 0</div>
    </button>
    <button class="rainy">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Rainy 1</div>
    </button>
    <button class="sunny">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Sunny 2</div>
    </button>
    <button class="rainy">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Rainy 3</div>
    </button>
    <button class="sunny">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Sunny 4</div>
    </button>
    <button class="homey">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Homey 5</div>
    </button>
    <button class="windy">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Windy 6</div>
    </button>
    <button class="homey">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Homey 7</div>
    </button>
    <button class="rainy">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Rainy 8</div>
    </button>
    <button class="sunny">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Sunny 9</div>
    </button>
    <button class="rainy">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Rainy 10</div>
    </button>
    <button class="sunny">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Sunny 11</div>
    </button>
    <button class="homey">
      <label class="switch">
	<input type="checkbox">
	<span class="slider round"></span>
      </label>
      <div>Homey 12</div>
    </button>
  </div>
</div>
